/*
  Global styles

  Low-specificity, global styles that apply to the whole
  project: https://cube.fyi/css.html
*/

body {
  display: flex;
  flex-direction: column;
  accent-color: var(--color-primary);
  color: var(--color-text);
  background-color: var(--color-bg);
  font-size: var(--size-step-0);
  font-family: var(--font-base);
  font-weight: var(--font-medium);
  font-variant-ligatures: normal;
  font-variant-numeric: tabular-nums;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  letter-spacing: var(--tracking);
}

main {
  flex: auto;
}

/* Base typesetting */
h1, .h1,
h2, .h2,
h3, .h3 {
  line-height: 1.2;
  letter-spacing: var(--tracking-s);
  font-weight: var(--font-bold);
  font-family: var(--font-display);
}

h1, .h1 {
  font-size: var(--size-step-6);
}

h2, .h2 {
  font-size: var(--size-step-4);
}

h3, .h3 {
  font-size: var(--size-step-2);
}

/* Set line lengths */
p,
li,
blockquote:not([class]) {
  max-inline-size: 73ch;
}

blockquote {
  border-inline-start: 0.42em solid var(--color-bg-accent-2);
  background-color: var(--color-bg-accent);
  padding: var(--space-s-m);
  font-size: var(--size-step-1);
  position: relative;
  &::before {
    display: inline-block;
    content: open-quote;
    position: absolute;
    top: -0.8em;
    left: -0.3em;
    font-size: var(--size-step-6);
    color: var(--color-primary);
  }
  & > * + * {
    margin-block-start: var(--space-s-m);
  }
  &:last-child {
    font-family: var(--font-base);
    font-style: normal;
    font-size: var(--size-step-0);
  }
}

svg {
  block-size: 2ex;
  inline-size: auto;
  flex: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: var(--font-extra-bold);
}

small {
  font-size: 0.75em;
  color: var(--color-text-accent);
}

hr {
  border: 0;
  height: 1px;
  width: 80%;
  margin-block: var(--space-m-l);
  margin-inline-start: 10%;
  background-color: var(--color-text-accent);
}

[role='list'] {
  padding: 0;
}

/* Base interactive elements */

a {
  color: currentcolor;
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.15em;
}

a:where(:hover, :focus) {
  text-decoration: none;
}

:is(.card, p) a {
  text-decoration-color: var(--color-primary);
  background: linear-gradient(20deg, var(--color-primary), var(--color-primary)) no-repeat bottom left / 100% 0%;
  transition: all var(--transition-duration-short) var(--transition-timing);
  &:where(:hover, :focus, :focus-visible) {
    background-size: 100% 55%;
    background-position-y: bottom;
  }
}


:focus-visible {
  outline: 3px solid;
  outline-offset: 0.3ch;
}

main:focus {
  outline: none;
}

/* Base selection styles that invert whatever colours are rendered */
::selection {
  color: var(--color-bg);
  background-color: var(--color-text);
}

/* #region ---[ Abbreviations w/ tooltip ]--- */
abbr[title] {
  text-decoration: underline dotted;
  position: relative;
  &::before {
    background-color: var(--color-base-dark);
    border-radius: var(--border-radius);
    color: var(--color-text);
    content: attr(title);
    font-size: var(--size-step-min-2);
    padding: 6px 10px;
    top: 26px;
    white-space: nowrap;
  }
  &::after {
    border-right: var(--space-xs) solid transparent;
    border-bottom: var(--space-xs) solid var(--color-base-dark);
    /* border-bottom: var(--space-xs) solid rgba(0,0,0,.75);  */
    border-left: var(--space-xs) solid transparent;
    content: '';
    height: 0;
    width: 0;
    top: 20px;
    left: 20px;
  }
}

abbr[title]::before,
abbr[title]::after {
  display: block;
  opacity: 0;
  z-index: 9;
  pointer-events: none;
  position: absolute;
  transform: translate3d(0,-10px,0);
  transition: all var(--transition-duration-short) ease-in-out;
}
abbr[title]:hover::before,
abbr[title]:hover::after {
  opacity: 1;
  transform: translate3d(0,0,0);
}
/* #endregion */

.preload-transitions * {
  transition: none !important;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::after,
  ::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
