<div
  role="region"
  class="theme-switch | cluster mt-xs"
  style="--cluster-horizontal-alignment: center; --gutter: 0.5rem"
  aria-labelledby="theme-switcher-label"
  data-theme-switcher
  hidden
>
  <span id="theme-switcher-label" class="visually-hidden">{{ meta.themeSwitch.title }}</span>
  <button class="button" id="light-theme-toggle" data-theme="light" title="{{ meta.themeSwitch.light }}">
    <span>{{ meta.themeSwitch.light }}</span>
    {% include "svg/sun.svg" %}
  </button>
  <button class="button" id="dark-theme-toggle" data-theme="dark" title="{{ meta.themeSwitch.dark }}">
    <span>{{ meta.themeSwitch.dark }}</span>
    {% include "svg/star.svg" %}
  </button>
</div>
