{% set assetHash = helpers.random() %}

<!doctype html>
<html lang="{{ meta.lang }}">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% if discover.title %}
        {{ discover.title | escape }}
      {% elif title %}
        {{ title | escape }}
      {% else %}
        {{ meta.siteName }}
      {% endif %}
    </title>

    <!-- load theme toggle first to avoid color flashing on page load and inline render blocking js  -->
    {% set jsthemetoggle %}{% include "theme-toggle-inline.js" %}{% endset %}

    <script>
      // prettier-ignore
      {{ jsthemetoggle | jsmin | safe }}
    </script>

    {% include "schemas/base-schema.njk" %}

    {% if schema == 'blog' %}{%- include "schemas/blogpost-schema.njk" -%}{% endif %}

    <link rel="stylesheet" href="/assets/css/global.css?{{ assetHash }}" />

    <!-- preloads -->
    {# TODO: replace with new fonts #}
    <link
      rel="preload"
      href="/assets/fonts/inter/InterVariable.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href="/assets/fonts/bricolage/BricolageGrotesque[opsz,wdth,wght].woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!-- preloads in page data -->
    {%- if preloads -%}
      <!-- prettier-ignore -->
      <link rel="preload"
            href="{{ preloads.href }}"
            as="{{ preloads.as }}"
            {% if preloads.type %}type={{ preloads.type }}{% endif %}{% if preloads.imagesrcset %}imagesrcset="{{ preloads.imagesrcset }}"{% endif %}
            {% if preloads.crossorigin %}crossorigin{% endif %} />
    {% endif %}


    {% if masonry %}
      <script src="/assets/scripts/masonry.js?{{ assetHash }}" defer></script>
    {% endif %}

    {% if youtube %}
      <!-- TODO: replace with local version -->
      <script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.4.0/lite-youtube.min.js"
      ></script>
    {% endif %}

    {% if meta.navigation.drawerNav %}
      <script src="/assets/scripts/nav-drawer.js?{{ assetHash }}" defer></script>
    {% endif %}

    {% if meta.easteregg %}
      <script src="/assets/scripts/easteregg.js?{{ assetHash }}" defer></script>
    {% endif %}

    {% include "partials/meta-info.njk" %}
  </head>

  <body class="{{ layout }} page-{{ page.layout}}">
    {% include "partials/header.njk" %}

    <main id="main" class="flow">{{ content | safe }}</main>

    {% include "partials/footer.njk" %}
  </body>
</html>
