---
layout: base
schema: blog
---

<article class="region snippet" style="--region-space-top: var(--space-xl-2xl)">
  <div class="wrapper flow prose">
    <h1 class="gradient-text-linear">{{ title }}</h1>

    <p class="description">{{ description }}</p>

    <p class="meta | cluster" style="--gutter: var(--space-xs-s)">
      <span class="button post-tag lang-{{ syntax }}">{{ syntax }}</span>
    </p>

    {{ content | safe }}
    {% include 'components/edit-on.njk' %}
    <p class="sub-meta | cluster" style="--gutter: var(--space-xs-s)">
      {% if tags.length > 1%}
        {% for tag in tags %}
          {% if tag != "posts" %}
            <a class="button post-tag" href="/tags/{{ tag }}"> {{ tag }} </a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </p>
  </div>

</article>
