---
title: Style Guide
permalink: /styleguide/index.html
layout: base
eleventyExcludeFromCollections: true
customColors:
  - property: '--color-text'
  - property: '--color-text-accent'
  - property: '--color-bg'
  - property: '--color-bg-accent'
  - property: '--color-bg-accent-2'
  - property: '--color-primary'
  - property: '--color-secondary'
  - property: '--color-tertiary'
customGradients:
  - property: '--gradient-rainbow'
  - property: '--gradient-conic'
  - property: '--gradient-stripes'
---

<!-- Inspired by: https://stevenwoodson.com/blog/eleventy-style-guide-generator-step-by-step-guide-adding-to-an-existing-site/ -->

<article class="styleguide | wrapper flow">
  <header class="intro flow region">
    <h1 class="gradient-text-linear">{{ title }}</h1>

    <p>
    Wie schon erwähnt, ist diese Seite ein kleiner Spielplatz um neue Sachen auszuprobieren. <br>
    Da die ganze Seite bereits ein gutes Stück von <a href="https://andy-bell.co.uk">Andy Bell</a> und <a href="https://buildexcellentwebsit.es">BuildExcellentWebsit.es</a> "inspiriert" wurde,
    lag es auch nahe <em>für mich</em> neue Design techniken auszuprobieren.
    </p>
    <p>
      <strong>Design Tokens</strong><br>
      Design Tokens sind zentral definierte Werte, die für das Design und die Darstellung einer Anwendung oder Website verantwortlich sind. Diese Tokens dienen als Referenz für Design-Entscheidungen und erlauben eine einheitliche und konsistente Darstellung der Benutzeroberfläche.
    </p>
    <p>
      Alle Design Tokens liegen als <code>JSON</code> im Ordner <code>src/_data/designTokens</code>. <br />
      Dort sind festgelegt: Farben, Schriftarten, Laufweite, Zeilenhöhe, Abstände und Viewports für Mediaqueries.
    <br>
      Auf dieser Seite werden die Werte aus den Dateien ausgelesen und angezeigt. <br>
    </p>
  </header>

  <div class="full colors | section">
    <section class="section__inner wrapper flow region">
      <h2 class="heading-line">Farben</h2>

      <p>{{ designTokens.colors.description }}</p>

      <ul role="list">
        {%- for color in designTokens.colors.items -%}
          <li>
            <div style="background-color: var(--color-{{ color.name | slugify }}"></div>

            <p>
              <code>var(--color-{{ color.name | slugify }})</code>
            </p>
          </li>
        {%- endfor -%}
      </ul>

      <h3 class="heading-line | mt-l-xl">Sonderfarben</h3>
      <p>aus der <code>variables.css</code>. <small>Manche werden nur für das helle/dunkle Theme verwendet.</small></p>

      <ul role="list">
        {%- for color in customColors -%}
          <li>
            <div style="background-color: var({{ color.property }})"></div>
            <p>
              <code>var({{ color.property }})</code>
            </p>
          </li>
        {%- endfor -%}
      </ul>

      <h3 class="heading-line | mt-l-xl">Farbverläufe</h3>

      <ul role="list">
        {%- for gradient in customGradients -%}
          <li>
            <div style="background-image: var({{ gradient.property }})"></div>

            <p>
              <code>var({{ gradient.property }})</code>
              <br />
              <!-- <code>{{ color.value }}</code> -->
            </p>
          </li>
        {%- endfor -%}
      </ul>
    </section>
  </div>

  <section class="fonts | flow region">
    <h2 class="heading-line">Schriften</h2>

    <ul class="fonts flow">
      {%- for font in designTokens.fonts.items -%}
        <li class="font" style="font-family: var(--font-{{ font.name | slugify }})">
          <h3 style="font-family: var(--font-{{ font.name | slugify }})">
            {{ font.name }}
          </h3>
          <p>{{ font.description }}</p>
          <p><strong>Schriftarten</strong>: {{ font.value | join(', ') }}</p>
          <code>var(--font-{{ font.name | slugify }})</code>
        </li>
      {%- endfor -%}
    </ul>
  </section>

  <div class="full sizes | section">
    <section class="section__inner wrapper flow region">
      <h2 class="heading-line">Schriftgrößen</h2>

      <p>
        {{ designTokens.textSizes.description }}<br><small> "Fluid type" und "Abstandskalen" wurden
        <a href="{{ designTokens.textSizes.meta.scaleGenerator }}" title="Fluid type scale generator">
          mit Utopia generiert.</a></small>
      </p>

      <table class="sizes flow">
        {%- for size in designTokens.textSizes.items -%}
          <tr>
            <th scope="row">
              <h3>{{ size.name }}</h3>
            </th>
            <td>
              <span class="flow">
                <p>{{ size.min }}px bis {{ size.max }}px</p>
                <code>var(--size-{{ size.name | slugify }})</code>
              </span>
            </td>
            <td class="sizes-example">
              <p style="font-size:var(--size-{{ size.name | slugify }})">
                {{ size.name }}
              </p>
            </td>
          </tr>
        {%- endfor -%}
      </table>
    </section>
  </div>

  <section class="spacing | flow region">
    <h2 class="heading-line">Abstände</h2>

    <p>
      {{ designTokens.textSizes.description }}<br><small> "Fluid type" und "Abstandskalen" wurden
        <a href="{{ designTokens.textSizes.meta.scaleGenerator }}" title="Fluid type scale generator">
          mit Utopia generiert.</a></small>
    </p>

    <table class="spacing flow">
      {%- for space in designTokens.spacing.items -%}
        <tr>
          <th scope="row">
            <h3>{{ space.name }}</h3>
          </th>
          <td>
            <span class="flow">
              <p>{{ space.min }}px bis {{ space.max }}px</p>
              <code>var(--space-{{ space.name | slugify }})</code>
            </span>
          </td>
          <td>
            <div
              class="space"
              style="height:var(--space-{{ space.name | slugify }}); width:var(--space-{{ space.name | slugify }});"
            ></div>
          </td>
        </tr>
      {%- endfor -%}
    </table>
  </section>
</article>
