<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="wrapper">
  <div class="repel ontop">
    <a
      href="/"
      class="logo | cluster"
      {% if page.url == "/" %}aria-current="page"{% endif %}
    >
      {% include "svg/rawsta.svg" %}
      <span>{{ meta.siteName }}</span>
    </a>
    {% include "partials/main-nav.njk" %}
    
  <!-- theme switch -->
  {% include 'components/theme-switch.njk' %}

  </div>
</header>
